.root {
    -fx-font-family: "Manrope", sans-serif;
    -fx-background-color: #101622;
}

.content-scroll {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.content {
    -fx-padding: 80 180;
    -fx-background-color: #101622;
}

.page-title {
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: 800;
}

.card {
    -fx-pref-height: 400;
    -fx-background-color: #1a202c;
    -fx-padding: 50;
    -fx-background-radius: 12;
    -fx-border-color: #2d3748;
    -fx-border-radius: 12;
    -fx-spacing: 20;
}

Button {
    -fx-background-color: #135bec;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
}

Button:hover {
    -fx-cursor: hand;
}

.label-title {
    -fx-text-fill: #9da6b9;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

ListView {
    -fx-background-color: #1e2837;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 16px;
}

.list-cell {
    -fx-background-color: #1e2837;
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-pref-height: -1;
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color: #2b3547;
    -fx-cursor: hand;
}

.list-cell:selected {
    -fx-background-color: #2d3748;
}

.input {
    -fx-background-color: #101622;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #64748b;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #334155;
    -fx-padding: 10 12;
    -fx-pref-height: 38;
    -fx-pref-width: 220;
}

.input:focused {
    -fx-border-color: #135bec;
}

.combo-box.input {
    -fx-background-color: #101622;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #334155;
    -fx-padding: 4 8;
}

.combo-box.input:focused {
    -fx-border-color: #135bec;
}

.combo-box.input .list-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.combo-box.input .arrow-button {
    -fx-background-color: transparent;
}

.combo-box.input .arrow {
    -fx-background-color: white;
}

.combo-box-popup .list-view {
    -fx-background-color: #101622;
}

.combo-box-popup .list-cell {
    -fx-text-fill: white;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #135bec;
}